<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bingo_Project.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Bingo_Project.My.MySettings>
            <setting name="language" serializeAs="String">
                <value>spanish</value>
            </setting>
            <setting name="fondo" serializeAs="String">
                <value>Tela roja</value>
            </setting>
            <setting name="fuentes_bingo" serializeAs="String">
                <value>Arial Narrow, 72pt</value>
            </setting>
            <setting name="fuentes_bingo_color" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="fuentes_linea" serializeAs="String">
                <value>Arial Narrow, 72pt</value>
            </setting>
            <setting name="fuentes_linea_color" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="fuentes_nombre" serializeAs="String">
                <value>Arial Narrow, 48pt</value>
            </setting>
            <setting name="fuentes_nombre_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="color_fondo_panel" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="color_fondo_numeros" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="color_texto_numeros" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="color_fondo_numeros_org" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="color_texto_numeros_org" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="fuente_texto_numeros" serializeAs="String">
                <value>Times New Roman, 20.25pt</value>
            </setting>
            <setting name="fuente_texto_numeros_org" serializeAs="String">
                <value>Times New Roman, 20.25pt</value>
            </setting>
            <setting name="fondo_pers" serializeAs="String">
                <value />
            </setting>
            <setting name="fondo_pers_combobox" serializeAs="String">
                <value />
            </setting>
            <setting name="fondo_last" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="panel_sh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lbl_grande" serializeAs="String">
                <value>Times New Roman, 108pt</value>
            </setting>
            <setting name="lbl_grande_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="tiemp_contador" serializeAs="String">
                <value>10</value>
            </setting>
        </Bingo_Project.My.MySettings>
    </userSettings>
</configuration>